<!DOCTYPE html>
<html>
<head>
    <title>Town of Salem 2</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

    <img class="bg" src="/static/images/landing-page.png">

    <div class="ui">
        <input type="text" id="username" placeholder="Enter your username">
        <br>
        <button id="enterLobby">Enter Lobby</button>
    </div>

    <script>
    document.getElementById("enterLobby").onclick = () => {
        const usernameInput = document.getElementById("username").value.trim();
        if (!usernameInput) {
            alert("Please enter a username!");
            return;
        }

        localStorage.setItem("username", usernameInput);

        window.location.href = "/lobby";
    };
    </script>

</body>
</html>